<a href="{{url}}" class="featured-card">
    <div class="featured-card-copy">
        <h6 class="featured-card-title">{{title}}</h6>
        <span class="featured-card-excerpt">{{excerpt}}</span>
        <div class="featured-card-metadata">
            <h6>By {{primary_author.name}}</h6>
            <div class="card-author-image" style="background:url({{primary_author.profile_image}});background-size:cover;"></div>
            <h6><i class="fas fa-hourglass"></i>   {{reading_time}}</h6>
            <!--<time class="card-date" datetime="{{date published_at format=" YYYY-MM-DD"}}">{{date format="Do
                MMMM YYYY"}}</time>-->
        </div>
    </div>
    <div class="featured-card-image" style="background:url({{feature_image}});background-size:cover;" />
    </div>
</a>