<div class="content-card page-card">
    <h1 class="page-title">{{title}}</h1>
     <div class="page-metadata">
            <span>By {{primary_author.name}}     |     <i class="fas fa-hourglass"></i>   {{reading_time}}</span>
            <!--<time class="card-date" datetime="{{date published_at format=" YYYY-MM-DD"}}">{{date format="Do
                MMMM YYYY"}}</time>-->
        </div>
    <div>{{content}}</div>
</div>