<div class="content-card page-card">
    <div>{{content}}</div>
</div>
{{#primary_author}}

<span class="author-card-title"><i class="fas fa-user author-card-title-icon"></i>   <span class="author-card-title-text">About the Author</span></span>
<a href="{{url}}" class="author-card">
    <div class="author-card-image" style="background:url({{profile_image}});background-size:cover;"></div>
    <div class="author-card-copy">
        <span class="author-card-name">{{name}}</span>
        <span class="author-card-bio">{{bio}}</span>
    </div>
    <button href="{{url}}" class="author-card-read-more"><i class="fas fa-book-open author-card-title-icon"></i>Read More</button>
</a>
{{/primary_author}}