<a href="{{url}}" class="post-preview-card">
    <div class="post-preview-card_copy">
        <h6 class="post-preview-card_copy_title">{{title}}</h6>
        <span class="post-preview-card_copy_excerpt">{{excerpt}}...</span>
    </div>
    <div class="post-preview-card_metadata">
        <div class="post-preview-card_metadata_author">Michael Ashcroft — {{reading_time}} </div>
        <button class="post-preview-card_metadata_read-more">Read More</button>
        <!--<div class="post-preview-card_metadata_reading-time">{{reading_time}}</div>-->
    </div>
</a>